<div class="card rounded-0">
    <div class="card-header">菜单设置</div>
    <div class="card-body">
        <div [sortablejs]="menus" [sortablejsOptions]="{ animation: 400 }">
            <div *ngFor="let main of menus">
                <div class="card card-body border-top-0 border-right-0 border-left-0 rounded-0">
                    <div class="text-primary">
                        <i class="fa-fw fa-lg {{main.icon}}"></i>{{main.title}}
                        <span class="pull-right">
                        <button (click)="openChildDialog(main.childs)" class="btn btn-link" title="childs"><i class="fa fa-list text-primary fa-lg"></i></button>
                        <button class="btn btn-link" title="change"><i class="fa fa-edit text-info fa-lg"></i></button>
                        <button class="btn btn-link" title="remove"><i class="fa fa-trash text-danger fa-lg"></i></button>
                    </span>
                    </div>
                    <div *ngFor="let child of main.childs" class="pt-2 pb-2">
                        <div><i class="fa-fw {{child.icon}}"></i>{{child.title}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-right mt-2">
    <button class="btn btn-success"><i class="fa fa-check fa-fw"></i>确认修改</button>
    <button class="btn btn-warning"><i class="fa fa-refresh fa-fw"></i>确认排序</button>
    <button class="btn btn-primary"><i class="fa fa-spinner fa-fw"></i>重载菜单</button>
</div>