<nav class="breadcrumb-pad p-0 m-0">
    <a class="breadcrumb-item" routerLink="/"><i class="fa fa-home fa-fw fa-lg" aria-hidden="true"></i>首页</a>
</nav>
<div class="row">
    <div class="col-lg-4">
        <md-card class="card-border mb-3">
            <md-card-header>
                <img md-card-avatar src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/6.jpg">
                <md-card-title>Shiba Inu</md-card-title>
                <md-card-subtitle>Dog Breed</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/card/5.jpg">
            <md-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </md-card-content>
            <md-card-actions>
                <button (click)="like1=!like1" [ngClass]="{'text-danger':!!like1}" md-button><i class="fa fa-fw" [ngClass]="{'fa-heart-o': !like1,'fa-heart':!!like1}" aria-hidden="true"></i>喜欢</button>
                <button (click)="favor1=!favor1" [ngClass]="{'text-warning':!!favor1}" md-button><i class="fa" [ngClass]="{'fa-star-o': !favor1,'fa-star':!!favor1}" aria-hidden="true"></i>收藏</button>
            </md-card-actions>
        </md-card>
    </div>
    <div class="col-lg-4">
        <md-card class="card-border mb-3">
            <md-card-header>
                <img md-card-avatar src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/5.jpg">
                <md-card-title>Shiba Inu</md-card-title>
                <md-card-subtitle>Dog Breed</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/card/4.jpg">
            <md-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </md-card-content>
            <md-card-actions>
                <button (click)="like2=!like2" [ngClass]="{'text-danger':!!like2}" md-button><i class="fa fa-fw" [ngClass]="{'fa-heart-o': !like2,'fa-heart':!!like2}" aria-hidden="true"></i>喜欢</button>
                <button (click)="favor2=!favor2" [ngClass]="{'text-warning':!!favor2}" md-button><i class="fa" [ngClass]="{'fa-star-o': !favor2,'fa-star':!!favor2}" aria-hidden="true"></i>收藏</button>
            </md-card-actions>
        </md-card>
    </div>
    <br>
    <div class="col-lg-4">
        <md-card class="card-border">
            <md-card-header>
                <img md-card-avatar src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/1.jpg">
                <md-card-title>Shiba Inu</md-card-title>
                <md-card-subtitle>Dog Breed</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/card/3.jpg">
            <md-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </md-card-content>
            <md-card-actions>
                <button (click)="like3=!like3" [ngClass]="{'text-danger':!!like3}" md-button><i class="fa fa-fw" [ngClass]="{'fa-heart-o': !like3,'fa-heart':!!like3}" aria-hidden="true"></i>喜欢</button>
                <button (click)="favor3=!favor3" [ngClass]="{'text-warning':!!favor3}" md-button><i class="fa" [ngClass]="{'fa-star-o': !favor3,'fa-star':!!favor3}" aria-hidden="true"></i>收藏</button>
            </md-card-actions>
        </md-card>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card rounded-0 mb-3">
            <table class="table">
                <thead class="card-header text-muted">
                    <tr>
                        <th>Avatar</th>
                        <th>Nick</th>
                        <th>Gender</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/1.jpg" />
                        </td>
                        <td>Mark</td>
                        <td>
                            <i class="fa fa-mercury fa-fw text-danger"></i>
                        </td>
                        <td>
                            <button class="btn btn-link text-primary">
                                <i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-info">
                                <i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-danger">
                                <i class="fa fa-trash-o fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/2.jpg" />
                        </td>
                        <td>Jacob</td>
                        <td>
                            <i class="fa fa-mars text-primary"></i>
                        </td>
                        <td>
                            <button class="btn btn-link text-primary">
                                <i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-info">
                                <i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-danger">
                                <i class="fa fa-trash-o fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/3.jpg" />
                        </td>
                        <td>Larry</td>
                        <td>
                            <i class="fa fa-transgender text-muted"></i>
                        </td>
                        <td>
                            <button class="btn btn-link text-primary">
                                <i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-info">
                                <i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-danger">
                                <i class="fa fa-trash-o fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/4.jpg" />
                        </td>
                        <td>Sorry</td>
                        <td>
                            <i class="fa fa-transgender text-muted"></i>
                        </td>
                        <td>
                            <button class="btn btn-link text-primary">
                                <i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-info">
                                <i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-danger">
                                <i class="fa fa-trash-o fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/5.jpg" />
                        </td>
                        <td>Karven</td>
                        <td>
                            <i class="fa fa-transgender text-muted"></i>
                        </td>
                        <td>
                            <button class="btn btn-link text-primary">
                                <i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-info">
                                <i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-danger">
                                <i class="fa fa-trash-o fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card rounded-0 mb-3">
            <table class="table">
                <thead class="card-header text-muted">
                    <tr>
                        <th>Avatar</th>
                        <th>Nick</th>
                        <th>Gender</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/1.jpg" />
                        </td>
                        <td>Mark</td>
                        <td>
                            <i class="fa fa-mercury fa-fw text-danger"></i>
                        </td>
                        <td>
                            <button class="btn btn-link text-primary">
                                <i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-info">
                                <i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-danger">
                                <i class="fa fa-trash-o fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/2.jpg" />
                        </td>
                        <td>Jacob</td>
                        <td>
                            <i class="fa fa-mars text-primary"></i>
                        </td>
                        <td>
                            <button class="btn btn-link text-primary">
                                <i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-info">
                                <i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-danger">
                                <i class="fa fa-trash-o fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/3.jpg" />
                        </td>
                        <td>Larry</td>
                        <td>
                            <i class="fa fa-transgender text-muted"></i>
                        </td>
                        <td>
                            <button class="btn btn-link text-primary">
                                <i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-info">
                                <i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-danger">
                                <i class="fa fa-trash-o fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/4.jpg" />
                        </td>
                        <td>Sorry</td>
                        <td>
                            <i class="fa fa-transgender text-muted"></i>
                        </td>
                        <td>
                            <button class="btn btn-link text-primary">
                                <i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-info">
                                <i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-danger">
                                <i class="fa fa-trash-o fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/5.jpg" />
                        </td>
                        <td>Karven</td>
                        <td>
                            <i class="fa fa-transgender text-muted"></i>
                        </td>
                        <td>
                            <button class="btn btn-link text-primary">
                                <i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-info">
                                <i class="fa fa-info-circle fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link text-danger">
                                <i class="fa fa-trash-o fa-fw fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card rounded-0 mb-3">
            <div class="card-header text-muted">
                <span>
                    <button md-button disabled><b>MessageList</b></button>
                </span>
                <span class="pull-right">
                    <button md-icon-button><i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i></button>
                    <button md-icon-button><i class="fa fa-bars fa-fw fa-lg" aria-hidden="true"></i></button>
                </span>
            </div>
            <div class="card-body">
                <md-nav-list>
                    <md-list-item>
                        <img md-list-avatar src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/1.jpg" alt="...">
                        <h3 md-line> Jack </h3>
                        <p md-line>
                            <span> Golf weekend </span>
                            <span>  -- Hey! You wanted to go play Golf? </span>
                        </p>
                    </md-list-item>
                    <md-list-item>
                        <img md-list-avatar src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/2.jpg" alt="...">
                        <h3 md-line> James </h3>
                        <p md-line>
                            <span> Party ?</span>
                            <span> -- You wanna throw a party this weekend? </span>
                        </p>
                    </md-list-item>
                    <md-list-item>
                        <img md-list-avatar src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/3.jpg" alt="...">
                        <h3 md-line> Cody </h3>
                        <p md-line>
                            <span> Code Quality </span>
                            <span> -- Love your newest theme, so clean and slick! </span>
                        </p>
                    </md-list-item>
                    <md-list-item>
                        <img md-list-avatar src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/4.jpg" alt="...">
                        <h3 md-line> Jessica </h3>
                        <p md-line>
                            <span> Love you... </span>
                            <span> -- Hope we can see us again soon :) </span>
                        </p>
                    </md-list-item>
                </md-nav-list>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card rounded-0 mb-3">
            <div class="card-header text-muted">
                <span>
                    <button md-button disabled><b>MessageList</b></button>
                </span>
                <span class="pull-right">
                    <button md-icon-button><i class="fa fa-refresh fa-fw fa-lg" aria-hidden="true"></i></button>
                    <button md-icon-button><i class="fa fa-bars fa-fw fa-lg" aria-hidden="true"></i></button>
                </span>
            </div>
            <div class="card-body">
                <md-nav-list>
                    <md-list-item>
                        <img md-list-avatar src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/1.jpg" alt="...">
                        <h3 md-line> Jack </h3>
                        <p md-line>
                            <span> Golf weekend </span>
                            <span>  -- Hey! You wanted to go play Golf? </span>
                        </p>
                    </md-list-item>
                    <md-list-item>
                        <img md-list-avatar src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/2.jpg" alt="...">
                        <h3 md-line> James </h3>
                        <p md-line>
                            <span> Party ?</span>
                            <span> -- You wanna throw a party this weekend? </span>
                        </p>
                    </md-list-item>
                    <md-list-item>
                        <img md-list-avatar src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/3.jpg" alt="...">
                        <h3 md-line> Cody </h3>
                        <p md-line>
                            <span> Code Quality </span>
                            <span> -- Love your newest theme, so clean and slick! </span>
                        </p>
                    </md-list-item>
                    <md-list-item>
                        <img md-list-avatar src="http://hello1024.oss-cn-beijing.aliyuncs.com/ng-dashboard/assets/image/avatar/4.jpg" alt="...">
                        <h3 md-line> Jessica </h3>
                        <p md-line>
                            <span> Love you... </span>
                            <span> -- Hope we can see us again soon :) </span>
                        </p>
                    </md-list-item>
                </md-nav-list>
            </div>
        </div>
    </div>
</div>