<div class="head-bar" [ngClass]="{'head-bar-min': menuSetting.size=='sm'}">
    <div class="w-100 h-100 head-block">
        <div class="w-50 left-bur h-100">
            <span (click)="changeMenuSize()" class="circle-button pointer text-center ml-2">
                <i [ngClass]="{'icon-up': menuSetting.size=='sm','icon-down':menuSetting.size!='sm'}" class="fa fa-dedent" aria-hidden="true"></i>
            </span>
            <nav class="d-inline p-0 m-0">
                <a class="breadcrumb-item" routerLink="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>首页</a>
                <span class="breadcrumb-item active"><i class="fa fa-bars fa-fw" aria-hidden="true"></i>菜单设置</span>
            </nav>
        </div>
        <div class="w-50 right-bur text-right">
            <md-input-container color="warn">
                <input mdInput>
            </md-input-container>
            <button [ngStyle]="{'color': theme.bgColor}" class="icon-hover mr-2" md-icon-button><i class="fa fa-search fa-lg"></i></button>
            <button [ngStyle]="{'color': theme.bgColor}" class="icon-hover mr-2" md-icon-button><i class="fa fa-question-circle fa-lg"></i></button>
            <button [ngStyle]="{'color': theme.bgColor}" class="icon-hover mr-2" md-icon-button><i class="fa fa-bell fa-lg"></i></button>
            <button [ngStyle]="{'color': theme.bgColor}" class="icon-hover mr-2" md-icon-button><i class="fa fa-cog fa-lg"></i></button>
        </div>
    </div>
</div>