<div class="head-bar" [ngClass]="{'head-bar-min': menuSetting.size=='sm'}">
    <div class="w-100 h-100 head-block">
        <div class="left-bur d-inline-block h-100">
            <span (click)="changeMenuSize()" class="circle-button pointer text-center ml-2">
                <i [ngClass]="{'icon-up': menuSetting.size=='sm','icon-down':menuSetting.size!='sm'}" class="fa fa-dedent fa-fw fa-lg" aria-hidden="true"></i>
            </span>
        </div>
        <div class="right-bur text-right h-100">
            <md-input-container color="warn" (click)="canShowSearchPad=true">
                <input [(ngModel)]="search" style="width:150px;" mdInput>
            </md-input-container>
            <button (click)="canShowSearchPad=true;" [ngStyle]="{'color': theme.bgColor}" class="icon-hover mr-2" md-icon-button><i class="fa fa-search fa-lg"></i></button>
            <button [ngStyle]="{'color': theme.bgColor}" class="icon-hover mr-2" md-icon-button><i class="fa fa-question-circle fa-lg"></i></button>
            <button [ngStyle]="{'color': theme.bgColor}" class="icon-hover mr-2" md-icon-button><i class="fa fa-bell fa-lg"></i></button>
            <button [ngStyle]="{'color': theme.bgColor}" class="icon-hover mr-2" md-icon-button [mdMenuTriggerFor]="menu"><i class="fa fa-cog fa-lg"></i></button>
        </div>
    </div>
</div>
<div class="search-pad" *ngIf="!!search&&canShowSearchPad" (click)="canShowSearchPad=false;">
    <div class="search-content">
        <div class="h-100 w-100" [ngStyle]="{'background-color': theme.bgColor}" #navList>
            <md-nav-list>
                <ng-template ngFor let-i="index" let-item [ngForOf]="menus">
                    <md-list-item *ngFor="let menu of searchList(item.childs)" [ngStyle]="{'color':theme.fontColor}">
                        <i class="{{menu.icon}} fa-fw fa-lg" md-list-icon></i>
                        <h3 md-line> {{menu.title}} </h3>
                        <p md-line>
                            <span> Love you... </span>
                            <span> -- Hope we can see us again soon :) </span>
                        </p>
                    </md-list-item>
                </ng-template>
            </md-nav-list>
            <!-- <div *ngIf="!searchIsNotEmpty()">
                没有查询到符合的菜单
            </div> -->
        </div>
    </div>
</div>
<!--setting menu-->
<md-menu #menu="mdMenu">
    <div md-menu-item>
        <i class="fa fa-paint-brush fa-fw fa-lg" aria-hidden="true"></i>
        <span>更换系统主题</span>
    </div>
    <div md-menu-item>
        <i class="fa fa-file-text fa-fw fa-lg" aria-hidden="true"></i>
        <span>浏览接口文档</span>
    </div>
    <div md-menu-item>
        <i class="fa fa-archive fa-fw fa-lg" aria-hidden="true"></i>
        <span>清空本地存储</span>
    </div>
</md-menu>