<input #input_file type="file" [hidden]="true" accept="image/*" (change)="changeFile(img_pad,$event.target.files)">
<button type="button" class="{{openBtnClassName}}" (click)="input_file.click()" [innerHtml]="openTitle"></button>
<button type="button" class="{{resetBtnClassName}}" (click)="resetInput(img_pad,input_file)" [innerHtml]="resetTitle"></button>
<button type="button" class="{{removeBtnClassName}}" (click)="cleanInput(img_pad,input_file)" [innerHtml]="removeTitle"></button>
<br>
<img class="img-thumbnail mt-2" #img_pad [hidden]="(!showImage&&!image)||isLoading" src="{{image}}" [ngStyle]="imageStyle">
<div class="span img-thumbnail mt-2" *ngIf="isLoading">
    <div class="typing_loader"></div>
</div>
<div class="alert alert-danger mt-2" role="alert" [hidden]="!isFailed">{{errorAlertText}}</div>