<div class="card rounded-0">
    <div class="card-header"><i class="fa fa-file-text"></i> 单文件上传</div>
    <div class="card-block">
        <div class="row">
            <div class="col-sm">
                <div class="input-group">
                    <input (click)="file_input.click()" #file_title type="text" class="form-control rounded-0" placeholder="请选择要上传的文件" readonly>
                    <input #file_input (change)="image=$event.target.files[0];file_title.value=image.name" type="file" [hidden]="true">
                    <span class="input-group-btn">
                        <button (click)="file_input.click()" class="btn btn-secondary rounded-0" type="button"><i class="fa fa-file-text"></i> 打开文件</button>
                    </span>
                </div>
                <br>
                <p>
                    <ngb-progressbar type="success" [value]="70" [striped]="true" [animated]="true"><i>70%</i></ngb-progressbar>
                </p>
            </div>
        </div>
    </div>
</div>