<div class="pad">
    <div class="pad-window" [ngStyle]="{'background-color': bgColor}">
        <div class="window p-3">
            <div class="window-header">
                <table class="w-100">
                    <tbody>
                        <tr>
                            <td>
                                <h3><i class="fa fa-wechat"></i> Hello1024 Manager</h3>
                                <p [hidden]="!!message">version 2.0.1 2017.8.29@xiaojian</p>
                                <p [hidden]="!message" class="text-danger">{{message}}</p>
                            </td>
                            <td class="text-right">
                                <img width="60" height="60" src="{{bgImage}}" class="pull-right">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form #loginForm="ngForm" (ngSubmit)="doLogin()">
                <div class="login-input">
                    <span class="fa fa-user pl-2 pr-2"></span>
                    <input name="account" #account="ngModel" [ngModel]="loginParams.account" type="text" placeholder="mobile or emali" required>
                </div>
                <br>
                <div class="login-input">
                    <span class="fa fa-key pl-2 pr-2" aria-hidden="true"></span>
                    <input name="password" #password="ngModel" [ngModel]="loginParams.password" type="password" placeholder="your password" required>
                </div>
                <br>
                <div>
                    <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary rounded-0 btn-lg btn-block">
                        <i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Login
                    </button>
                </div>
            </form>
        </div>
        <footer class="fixed-bottom text-center window-header"><i>Copyright © 2016 XiaoJian. All Rights Reserved.| 赣 ICP备16010587号</i></footer>
    </div>
</div>