.pad {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.pad-window {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.window {
    width: 450px;
    height: 315px;
    background-color: rgba(255, 255, 255, 0.05);
}

.window-header {
    color: white;
    text-shadow: 1px 2px 3px #606060;
}

td {
    vertical-align: top;
}

img {
    border: 1px solid white;
    box-shadow: 0px 0px 3px #6E6D6D;
    height: 60px;
    width:60px;
    border-radius: 0px;
}

.login-input {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 50px;
}

.login-input input {
    height: 100%;
    width: 350px;
    border-style: none;
    background-color: transparent;
}

.login-input span {
    font-size: 20px;
}