<div class="fixed-top w-100 h-100 window-center" [ngStyle]="styles" [hidden]="!display">
    <div class="card {{className}} window-alert rounded-0">
        <div class="card-header"><i class="fa fa-exclamation-triangle a-fw"></i>{{title}}
            <span (click)="doCancel()" class="close pull-right pointer">&times;</span>
        </div>
        <div class="card-body">
            <p class="card-text">{{message}}</p>
            <p class="card-text text-right">
                <span (click)="doCancel()" class="pointer mr-2 ml-2">取消</span><span (click)="doOk()" class="pointer mr-2 ml-2">确认</span>
            </p>
        </div>
    </div>
</div>