<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
        <span>{{role.name}}@权限设置</span>
    </h5>
    <button type="button" class="close pointer" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>系统设置</p>
    <section>
        <md-checkbox><span class="text-muted">菜单设置</span></md-checkbox>
        <md-checkbox><span class="text-muted">角色管理</span></md-checkbox>
        <md-checkbox><span class="text-muted">权限分配</span></md-checkbox>
    </section>
    <p>测试模块</p>
    <section>
        <md-checkbox><span class="text-muted">测试模块一</span></md-checkbox>
        <md-checkbox><span class="text-muted">测试模块二</span></md-checkbox>
        <md-checkbox><span class="text-muted">测试模块三</span></md-checkbox>
    </section>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">
        <i class="fa fa-chevron-left fa-fw"></i>
        取消/关闭</button>
    <button type="button" class="btn btn-success" (click)="activeModal.close('Close click')">
        <i class="fa fa-check-square-o fa-fw"></i>
        确认修改</button>
</div>