<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Change Role Permission</h5>
  <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <p>System Setting</p>
  <section>
    <md-checkbox>Menu Setting</md-checkbox>
    <md-checkbox>Role Setting</md-checkbox>
  </section>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">
        <!-- <i class="fa fa-angle-left fa-fw"></i> -->
        Close</button>
  <button type="button" class="btn btn-success" (click)="activeModal.close('Close click')">
        <!-- <i class="fa fa-check fa-fw"></i> -->
        Confirm</button>
</div>