<nav class="breadcrumb-pad p-0 m-0">
    <a class="breadcrumb-item" routerLink="/"><i class="fa fa-home fa-fw fa-lg" aria-hidden="true"></i>首页</a>
    <span class="breadcrumb-item active"><i class="fa fa-windows fa-fw fa-lg" aria-hidden="true"></i>卡片箱子</span>
</nav>
<div class="card rounded-0">
    <div class="card-header">图片卡片</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <md-card>
                    <md-card-header>
                        <img md-card-avatar src="assets/image/avatar/1.jpg">
                        <md-card-title>Shiba Inu</md-card-title>
                        <md-card-subtitle>Dog Breed</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image nav src="assets/image/card/5.jpg" alt="Photo of a Shiba Inu">
                    <md-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </md-card-content>
                    <md-card-actions>
                        <button md-button>LIKE</button>
                        <button md-button>SHARE</button>
                    </md-card-actions>
                </md-card>
            </div>
            <div class="col-md-4">
                <md-card>
                    <md-card-header>
                        <img md-card-avatar src="assets/image/avatar/2.jpg">
                        <md-card-title>Shiba Inu</md-card-title>
                        <md-card-subtitle>Dog Breed</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="assets/image/card/4.jpg" alt="Photo of a Shiba Inu">
                    <md-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </md-card-content>
                    <md-card-actions>
                        <button md-button>LIKE</button>
                        <button md-button>SHARE</button>
                    </md-card-actions>
                </md-card>
            </div>
            <div class="col-md-4">
                <md-card>
                    <md-card-header>
                        <img md-card-avatar src="assets/image/avatar/3.jpg">
                        <md-card-title>Shiba Inu</md-card-title>
                        <md-card-subtitle>Dog Breed</md-card-subtitle>
                    </md-card-header>
                    <img md-card-image src="assets/image/card/3.jpg" alt="Photo of a Shiba Inu">
                    <md-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </md-card-content>
                    <md-card-actions>
                        <button md-button>LIKE</button>
                        <button md-button>SHARE</button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</div>
<div class="card rounded-0">
    <div class="card-header">按钮卡片</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <md-card>
                    <button md-button md-card-image style="padding: 0;">
                        <img src="assets/image/card/5.jpg" alt="Photo of a Shiba Inu" style="width:100%">
                    </button>
                    <md-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-md-4">
                <md-card>
                    <button md-button md-card-image style="padding: 0;">
                        <img src="assets/image/card/4.jpg" alt="Photo of a Shiba Inu" style="width:100%">
                    </button>
                    <md-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-md-4">
                <md-card>
                    <button md-button md-card-image style="padding: 0;">
                        <img src="assets/image/card/3.jpg" alt="Photo of a Shiba Inu" style="width:100%">
                    </button>
                    <md-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                        </p>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</div>