<nav class="breadcrumb-pad p-0 m-0">
    <a class="breadcrumb-item" routerLink="/"><i class="fa fa-home fa-fw fa-lg" aria-hidden="true"></i>首页</a>
    <span class="breadcrumb-item active"><i class="fa fa-lock fa-fw fa-lg" aria-hidden="true"></i>权限设置</span>
</nav>
<div class="card">
    <div class="card-header">
        <span>权限分配</span>
    </div>
    <div class="card-body p-1">
        <table class="table table-bordered">
            <tbody>
                <ng-template ngFor let-item [ngForOf]="permissionsModels" let-i="index">
                    <tr class="border-0">
                        <td class="border-0"><i class="fa fa-thumb-tack fa-fw"></i>{{item.name}}</td>
                        <td class="border-0">关键词</td>
                        <td class="text-right border-0">
                            <i (click)="showAddPermissionModal(i)" class="fa fa-plus text-success fa-lg pr-5 pointer"></i>
                            <i (click)="showChangePermissionModelModal(i)" class="fa fa-edit text-primary fa-lg pr-5 pointer"></i>
                            <i (click)="deletePermissionModel(i)" class="fa fa-trash text-danger fa-lg pr-5 pointer"></i>
                        </td>
                    </tr>
                    <tr *ngFor="let permission of getModelPermissions(item.id);">
                        <td>{{permission.name}}</td>
                        <td>{{permission.key||'未设置'}}</td>
                        <td class="text-right">
                            <button (click)="showChangePermissionModal(permission)" class="btn btn-sm btn-info">编辑</button>
                            <button (click)="deletePermission(permission)" class="btn btn-sm btn-danger">删除</button>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>
<div class="text-right mt-2">
    <button (click)="showAddModelModal()" class="btn btn-success"><i class="fa fa-plus fa-fw"></i>添加权限模块</button>
    <button (click)="loadPermissionsAndModel()" class="btn btn-primary"><i class="fa fa-spinner fa-fw"></i>刷新数据</button>
</div>
<br>