<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{user.email}}@账户设置</h5>
    <button type="button" class="close pointer" (click)="close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <form #changeForm="ngForm">
        <div class="form-group">
            <label class="form-control-label">账户:</label>
            <input class="form-control rounded-0" type="text" value="{{user.email}}" readonly>
        </div>
        <div class="form-group">
            <label class="form-control-label">新密码:</label>
            <input class="form-control rounded-0" name="password" type="password" [(ngModel)]="password" required>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()"><span>取消/返回</span></button>
    <button type="button" [disabled]="!changeForm.form.valid" loading title="确认修改" class="btn btn-success" #button="btnLoading" (click)="changeAccount(button)"></button>
</div>