<input #input_file type="file" [hidden]="true" accept="image/*" multiple="multiple" (change)="changeFile($event.target.files)">
<button type="button" class="{{openBtnClassName}}" (click)="input_file.click()" [innerHtml]="openTitle"></button>
<button type="button" class="{{resetBtnClassName}}" (click)="resetInput(input_file)" [innerHtml]="resetTitle"></button>
<br>
<div [sortablejs]="imagesArray" [sortablejsOptions]="options">
    <!-- <img *ngFor="let item of imagesArray" class="img-thumbnail mt-2 mr-2" src="{{item.url}}" [ngStyle]="imageStyle"> -->
    <div *ngFor="let item of imagesArray;index as i" class="img-thumbnail img-thumbnail-pad d-inline-block  mt-2 mr-2">
        <span class="close text-danger pointer" (click)="removeImage(i)">&times;</span>
        <div class="w-100 h-100 img-thumbnail-image" [ngStyle]="{'background-image': getUrl(item.url)}"></div>
    </div>
</div>