.permission-pad {
    margin-top: 5px;
}

.permission-pad:first {
    margin-top: 0px;
}

.toggles md-slide-toggle {
    margin-right: 5px;
}

.toggles md-slide-toggle:last-child {
    margin-right: 0px;
}