<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">@创建新角色</h5>
    <button type="button" class="close pointer" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #addForm="ngForm">
        <div class="form-group">
            <label class="form-control-label">角色名称:</label>
            <input type="text" class="form-control rounded-0" id="recipient-name" name="name" [(ngModel)]="role.name" placeholder="请输入角色名称" required>
        </div>
        <div class="form-group">
            <label class="form-control-label">上级角色:</label>
            <select class="form-control custom-select rounded-0" name="parent" [(ngModel)]="role.parentid" name="type" required>
                <option value="0">无上级角色</option>
                <option *ngFor="let item of roles" value="{{item.id}}">{{item.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label">角色描述:</label>
            <textarea class="form-control rounded-0" id="message-text" name="description" maxlength="100" [(ngModel)]="role.description" placeholder="请输入角色描述" required></textarea>
            <p class="text-right">{{role.description.length}}/100</p>
        </div>
        <div>
            <label class="form-control-label">权限分配:</label>
            <div class="border border-muted p-2 permission-pad" *ngFor="let model of pad.models">
                <p>{{model.name}}</p>
                <div class="mt-2 toggles">
                    <md-slide-toggle *ngFor="let permission of getPermissionsByModel(model.id)" color="warn" (change)="reversePermission(permission.id)" [checked]="hasPermission(permission.id)">
                        <span [ngClass]="{'text-danger': hasPermission(permission.id),'text-muted':!hasPermission(permission.id)}">{{permission.name}}</span>
                    </md-slide-toggle>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">
        <!-- <i class="fa fa-angle-left fa-fw"></i> -->
        <span>取消/返回</span>
    </button>
    <button type="button" [disabled]="!addForm.form.valid" loading title="确认添加" class="btn btn-success" #button="btnLoading" (click)="addNewRole(button)"></button>
</div>